header{
  width: 95%;
  margin: .5rem 2.5%;
  border-radius: .25rem;
  background-color: #006266;
  color: white;
  text-shadow: 0 0 1rem rgb(0, 17, 255);
  display: grid;
  place-content: center;
  letter-spacing: .1rem;
  font-style: italic;
  font-weight: 100;
  padding: 1rem 0;
  margin-bottom: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
footer .message{
  background-color: white;
  border-radius: .25rem;
  width: 95%;
  min-width: 410px;
  margin: 1rem 2.5%;
  padding: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1rem;
  text-overflow:ellipsis;
}
footer .message .Message{
  text-overflow: clip;
}
footer #p{
  display: flex;
  margin: .5rem 0;
}
footer a{
  margin-left: .25rem;
  text-decoration: none;
  color: #2e86de;
}
footer .label{
  width: 8.5rem;
  min-width: 8.5rem;
}
.loader{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background-color: rgba(6, 6, 6, 0.607);
  min-width: 250px;
}
.loader svg{
  display: flex;
  width: 55px;
  height: 55px;
  align-items: center;
  justify-content: center;
  animation: spin 2s linear infinite;
}
.loader svg circle{
  transform: translate(2.5px,2.5px);
  fill: none;
  stroke-width: 5;
  stroke: #ffffff;
  stroke-dasharray: 160;
  stroke-dashoffset: 160;
  stroke-linecap:round;
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0%,100%{stroke-dashoffset: 160;}
  50%{stroke-dashoffset: 0;}
  50.1%{stroke-dashoffset: 320;}
}
@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.message-container{
  width: 100%;
  text-align: justify;
  padding: .5rem 1rem;
}
.message :nth-child(4){
  flex-direction: column;
  align-items: center;
}
.Message{
  border-radius: .25rem;
  overflow: hidden;
  border: .05rem solid rgb(221, 221, 221);
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
}
.Message .label{
  width: 100%;
  font-size: 1.15rem;
  font-weight: 500;
  padding: .25rem 0;
  text-align: center;
  border-bottom: .05rem solid rgb(221, 221, 221);
}
::-webkit-scrollbar{
  width: .35rem;
}
::-webkit-scrollbar-thumb{
  background-color: #006266;
  border-radius: 50px;
}

@media screen and (max-width:425px){
  footer .message{
    font-size: .8rem;
    min-width: 365px;
  }
  header{
    font-size: .85rem;
  }
  footer .label{
    width: 6.5rem;
    min-width: 6.5rem;
  }
  .Message .label{
    font-size: 1.1rem;
  }
}
@media screen and (max-width:375px){
  footer .message{
    font-size: .5rem;
    min-width: 245px;
  }
  header{
    font-size: .55rem;
    min-width: 245px;
  }
  footer .label{
    width: 4.5rem;
    min-width: 4.5rem;
  }
  .Message .label{
    font-size: .80rem;
  }
}